.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  color: var(--c-black);
  background: var(--c-white);
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
}

.titleCard {
  position: relative;
}

.title {
  color: var(--c-black);
  flex-direction: column;
  font-size: var(--f-u4);
  margin-top: 0;
}

.desc {
  font-size: var(--f-u1);
  line-height: 1.4;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--c-white);
  font-size: var(--f-u2);
  font-weight: 700;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 150ms linear;
  border-radius: 1rem;

  &:focus,
  &:hover {
    opacity: 1;

    .linkInner {
      transform: translateY(0);
      border-color: rgba(255, 255, 255, 0.7);
    }
  }
}

.linkInner {
  padding: 0.375em 1em;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: transform 300ms cubic-bezier(0, 0.4, 0.6, 1),
    border-color 1s linear;
  transform: translateY(25%);
  border-radius: 1rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.tags {
  margin-top: 0.5rem;
  font-size: var(--f-d2);
  text-transform: uppercase;
}

.tag {
  background: var(--c-black);
  padding: 0.25rem 0.5rem;
  display: inline-block;
  color: var(--c-yellow);
  text-transform: uppercase;
  margin-left: 0.5em;
  border-radius: 0.25rem;

  &:nth-of-type(1n) {
    color: var(--c-green);
  }
  &:nth-of-type(2n) {
    color: var(--c-orange);
  }
  &:nth-of-type(3n) {
    color: var(--c-blue);
  }
  &:nth-of-type(4n) {
    color: var(--c-pink);
  }
}
