---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Acerca de mí | Martín Acosta" description="Acerca de mí">
	<h1 class="mb4">Acerca de mí</h1>

	<div class="bio">
		<p>
		¡Hola! 👋 Soy Martín Acosta, Software Engineer Senior.
		</p>
		<p>
		Más de 15 años de experiencia en programación.
		</p>
		<p>
		Actualmente trabajo como Software Engineer Senior en Paisanos.io desde 2021.
		</p>
		<p>
		Vivo en una ciudad de la provincia de Buenos Aires, soy soltero y sin hijos/as. Me gusta el café, el mate y la milanesa con cualquier cosa.
		</p>

		<h3 class="mt6 mb4">Mis pasiones 💖</h3>
		
		<p>
		La tecnología, en especial la programación, las redes sociales, la fotografía y filmación de videos, como hobbies tengo hacer Crossfit de lunes a viernes, ayudar a unos amigos que tienen un teatro haciendo la técnica de música, luces o atender el buffet.
		</p>
		<p>
		Además, me gusta generar contenido gratuito para que cualquier persona pueda acceder. Muy agradecido de aquellas personas que también lo hicieron en su momento y me permitieron a mí aprender el 90% de lo que sabe de manera autodidacta.
		</p>

		<h3 class="mt6 mb4">Mis otros empleos 🌈</h3>
		<ul class="list">
		<li> Trabajé atendiendo cybercafés.</li>
		<li> Seguridad en un local de ropa en época de fiestas.
		<li> Organización y atendiendo la barra de tragos en fiestas de la universidad a la que iba.</li>
		<li> En Producciones Audivisuales como asistente de arte, asistente de iluminación, asistente de producción y productor.</li>
		<li> Hice shows de teatro de improvisación en teatros y bares.</li>
		<li> Conducción de un show de karaoke, animando y cantando.</li>
		<li> Organizador en feria de emprendedores.</li>
		<li> Parte de la organización de un charla TED en mi ciudad.</li>
		<li> Redes sociales en ONGs.</li>
		<li> Redes sociales en Programa de Radio cubriendo elecciones.</li>
		<li> Hice 2 Programas de Radio sobre cultura general.</li>
		<li> Organizador de Torneos de Counter-Strike en mi ciudad.</li>
		</ul>
		<p>Y creo que nada más. Haciendo memoria para esto recordé un montón de cosas 😱</p>
		
		<div class="mt4">¡Gracias por leer todo! Te invito a leer mi <a href="/blog">Blog</a>.</div>
	</div>	
</Layout>

<style lang="scss">
  .bio {
    font-size: var(--f-u1);
    line-height: 2;
  }
  .list {
	list-style: square;
	max-width: 680px;
  }
</style>
