---
import Footer from '../components/Footer/index.jsx';
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav/index.jsx';
import PortfolioPreview from '../components/PortfolioPreview/index.jsx';

const blogs = (await Astro.glob('./blog/**/*.md'))
	.filter(({ frontmatter }) => !!frontmatter.publishDate)
	.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<html lang="en">
	<head>
		<MainHead title="Blog" />
		<style lang="scss">
			.grid {
				display: grid;
				grid-gap: 3rem;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1 class="title mt4 mb4">Blog</h1>
			<div class="grid">
				{blogs.map((blog) => <PortfolioPreview blog={blog} />)}
			</div>
		</div>
		<Footer />
	</body>
</html>
