---
import '../styles/global.scss';
const { title = 'Martín Acosta FrontEnd Developer', description = 'Martín Acosta portofolio, artículos y recursos sobre Frontend, JavaScript, React, CSS; buenas prácticas de programación; consejos de programación' } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

<meta name="apple-mobile-web-app-title" content="martinacosta.vercel.app">
<meta name="application-name" content="martinacosta.vercel.app">
<meta name="theme-color" content="#73C7FF">

<meta property="og:url" content="[https://martinacosta.vercel.app/](https://martinacosta.vercel.app/)">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="martinacostadev 👨🏻‍💻 | Frontend Developer">
<meta name="twitter:description" content="HTML, CSS JavaScript, React, artículos, recursos, buenas prácticas de programación y consejos.">
<meta name="twitter:creator" content="@martinacostadev">
<meta name="twitter:domain" content="martinacosta.vercel.app/">
<meta name="twitter:image" content="https://martinacosta.vercel.app/favicon/shareimage.png">
<meta name="twitter:site" content="@martinacostadev">

<meta property="og:locale" content="es_ES">
<meta property="og:title" content="martinacostadev 👨🏻‍💻 | Frontend Developer">
<meta property="og:image" itemprop="image" content="https://martinacosta.vercel.app/favicon/shareimage.png">
<meta property="og:description" content="HTML, CSS JavaScript, React, artículos, recursos, buenas prácticas de programación y consejos.">
<meta property="og:site_name" content="martinacosta">

<!-- generics -->
<link rel="icon" href="/favicon/favicon-32.png" sizes="32x32">
<link rel="icon" href="/favicon/favicon-57.png" sizes="57x57">
<link rel="icon" href="/favicon/favicon-76.png" sizes="76x76">
<link rel="icon" href="/favicon/favicon-96.png" sizes="96x96">
<link rel="icon" href="/favicon/favicon-128.png" sizes="128x128">
<link rel="icon" href="/favicon/favicon-192.png" sizes="192x192">
<link rel="icon" href="/favicon/favicon-228.png" sizes="228x228">

<!-- Android -->
<link rel="shortcut icon" sizes="196x196" href="/favicon/favicon-196.png">

<!-- iOS -->
<link rel="apple-touch-icon" href="/favicon/favicon-120.png" sizes="120x120">
<link rel="apple-touch-icon" href="favicon/favicon-152.png" sizes="152x152">
<link rel="apple-touch-icon" href="favicon/favicon-180.png" sizes="180x180">

<title>{title}</title>

<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="canonical" href="https://martinacosta.vercel.app/">

<link rel="preconnect" href="https://fonts.gstatic.com" />

<link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap"
        rel="stylesheet"
        type="text/css"
    />
</noscript>