.footer {
  text-align: center;
  padding-top: 6rem;
  padding-right: 1.5rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  color: var(--text-muted);
  font-size: 0.875rem;
}

.cafecito {
  display: block;
  margin-bottom: 1.5rem;
}

.byline {
  display: block;
  margin-top: 0.5rem;
  color: var(--text-muted);
  font-size: var(--f-d2);
}
