.nav {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--c-black);
  z-index: 999;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin: 0 auto;

  @media (max-width: 800px) {
    border-radius: 0;
  }
}

.navContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 1 rem;
}

.logolink {
  display: block;
  color: var(--c-white);
  text-decoration: none;
}

.link {
  color: var(--c-white);
  display: block;
  margin-left: 1.2rem;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
  padding-top: 0.75em;
  padding-bottom: 0.75em;

  &:focus,
  &:hover {
    color: var(--t-active);
    font-weight: 600;
  }

  @media (max-width: 800px) {
    display: none;
  }
}

.monogram {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  margin-right: 0.5rem;
  color: var(--c-white);
  font-weight: 900;
  letter-spacing: -0.125rem;
  border: 3px solid currentColor;
  border-radius: 50%;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.social {
  display: block;

  :hover {
    transform: scale(1.05);
    transition: transform 100ms linear;
    filter: grayscale(0);
  }
}



.socialicon {
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--t-subdue);
  transition: fill linear 150ms;

  &:hover {
    fill: var(--t-active);
  }

  @media (max-width: 800px) {
    width: 1.5rem;
    height: 1.5rem;
  }
}
